.pageTitle {
    font-weight: bolder;
    color: dimgray;
    margin-bottom: 5%;
    text-align:center;
}

#Content {
    width: 100%;
    margin-right: 20px;
}

#createTest-content {
    font-size: 15px;
    width: 100%;
    /*padding: 2% 10% 3% 10%;*/
}

    #createTest-content button {
        font-weight: bold;
        -webkit-border-radius: 11;
        -moz-border-radius: 11;
         border-radius: 11px;
         -webkit-box-shadow: 2px 3px 9px #8a8479;
         -moz-box-shadow: 2px 3px 9px #8a8479;
         box-shadow: 2px 3px 9px #8a8479;
         font-family: Arial;
         color: #ffffff;
         font-size: 16px;
         background: #e36820;
         padding: 8px 22px 8px 18px;
         text-decoration: none;
         border:none;
         float:right;
}

    .form-group {
        width: 100%;
        height: 70px;
    }

    #createTest-content button:hover {
        background: #ff8945;
        text-decoration: none;
    }


    #createTest-content .form-group #answers {
        width: 50%;
        height: 50px;
    }

#submitBtnArea {
    padding-right: 48%;
}

.panel {
    -webkit-box-shadow:none;
    border:none;
}

input[type=radio] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}